<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %} {{ page.title }} — {{ page.subtitle }} &raquo; {% endif %} {{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
{% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="icon" type="image/x-icon" href="/images/favicon/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/images/favicon/yin-yang-152-1271.png">
<!--IE 10 Metro Tile Icon-->
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/images/favicon/yin-yang-144-1271.png">
<!--Everything Else-->
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/favicon/yin-yang-152-1271.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/favicon/yin-yang-144-1271.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/favicon/yin-yang-120-1271.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/favicon/yin-yang-114-1271.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/favicon/yin-yang-72-1271.png">
<link rel="apple-touch-icon-precomposed" href="/images/favicon/yin-yang-57-1271.png">
<link rel="icon" href="/images/favicon/yin-yang-32-1271.png" sizes="32x32">
